<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- The wallpaper picker only lists services that declare this. -->
    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true" />

    <application
        android:label="@string/app_name"
        android:icon="@drawable/wallpaper_thumb"
        android:allowBackup="false"
        android:supportsRtl="true">

        <!-- A WallpaperService is selectable but not launchable. This entry
             makes an installed APK open the system preview/apply screen. -->
        <activity
            android:name=".LauncherActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ShakerWallpaperService"
            android:exported="true"
            android:label="@string/wallpaper_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />
        </service>
    </application>
</manifest>
