<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- The wallpaper picker only lists services that declare this. -->
    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true" />

    <application
        android:label="@string/app_name"
        android:icon="@drawable/wallpaper_thumb"
        android:allowBackup="false"
        android:supportsRtl="true">

        <service
            android:name=".ShakerWallpaperService"
            android:exported="true"
            android:label="@string/wallpaper_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />
        </service>

        <service
            android:name=".LavaWallpaperService"
            android:exported="true"
            android:label="@string/lava_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper_lava" />
        </service>
    </application>
</manifest>
